.loginForm {
  margin-top: 5vmin;
  width: 420px;
  min-width: 200px;
  border: solid gray 1px;
  padding: 0 2vmin 2vmin 2vmin;
  overflow: auto;
}

.loginForm mat-form-field {
  margin: 5px 10px 0 10px;
  width: 100%;
}

.loginForm button {
  width: 50%;
}

.matFormContainer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 440px){
  .loginForm {
    width: 90%;
  }
}
